<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%t %p [%c{2}] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>./target/out.log</File>
        <encoder>
            <pattern>=%t %p [%c{2}] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>2</maxIndex>
            <FileNamePattern>./target/out.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.eclipse.gemini.blueprint.context.support.DelegatedNamespaceHandlerResolver" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.service.exporter.support.internal.support" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.service.dependency.internal" level="WARN"/>
    <logger name="org.springframework.beans.factory.xml.DefaultNamespaceHandlerResolver" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.iandt" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.test" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.extender.internal.activator" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.service.exporter.support" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.extender.internal.blueprint.activator.support" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.service.importer.support.internal.aop" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.extender.internal.support" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.extender.internal.blueprint" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.extender.internal.support.NamespaceManager" level="WARN"/>
    <logger name="org.eclipse.gemini.blueprint.extender.internal.support.NamespacePlugins" level="WARN"/>
    <root level="WARN">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>